In [3]:
import duckdb
conn = duckdb.connect()

In [8]:
conn.execute("""
    SELECT 
        year,
        SUM(pop_hispanic) AS pop_hispanic
    FROM
        '../data/input/county__acs1__pop_hispanic.parquet'
    GROUP BY
        year
""").fetchdf()

    year  pop_hispanic
0   2005    24102122.0
1   2006    25996298.0
2   2007    27502014.0
3   2008    28772008.0
4   2009    28801835.0
5   2010    30055712.0
6   2011    31588813.0
7   2012    33234056.0
8   2013    33956104.0
9   2014    34598031.0
10  2015    36458902.0
11  2016    37404302.0
12  2017    38020743.0
13  2018    37932504.0
14  2019    37675285.0
15  2021    40850990.0
16  2022    42265202.0

In [10]:
conn.execute("""
    SELECT 
        year,
        SUM(pop_hispanic) AS pop_hispanic
    FROM
        '../data/output/county__acs1.parquet'
    GROUP BY
        year
""").fetchdf()

    year  pop_hispanic
0   2005    24102122.0
1   2006    25996298.0
2   2007    27502014.0
3   2008    28772008.0
4   2009    28801835.0
5   2010    30055712.0
6   2011    31588813.0
7   2012    33234056.0
8   2013    33956104.0
9   2014    34598031.0
10  2015    36458902.0
11  2016    37404302.0
12  2017    38020743.0
13  2018    37932504.0
14  2019    37675285.0
15  2021    40850990.0
16  2022    42265202.0

In [23]:
conn.execute("""
    SELECT 
        year,
        AVG(median_household_income) AS median_household_income
    FROM
        '../data/output/county__acs1.parquet'
    GROUP BY
        year
""").fetchdf()

    year  median_household_income
0   2005             46560.616264
1   2006             48531.025157
2   2007             50644.937500
3   2008             52428.806733
4   2009             50404.229814
5   2010             50041.522005
6   2011             50635.503650
7   2012             51600.109091
8   2013             52705.844203
9   2014             53830.230676
10  2015             55666.459036
11  2016             57660.592058
12  2017             59845.658303
13  2018             61683.309069
14  2019             64960.260714
15  2021             68746.747919
16  2022             73816.024764

In [24]:
conn.execute("""
    SELECT 
        year,
        AVG(median_home_value) AS median_home_value
    FROM
        '../data/output/county__acs1.parquet'
    GROUP BY
        year
""").fetchdf()

    year  median_home_value
0   2005      177148.411690
1   2006      193704.779874
2   2007      200615.500000
3   2008      200923.940150
4   2009      190020.372671
5   2010      186033.129584
6   2011      180561.435523
7   2012      177789.696970
8   2013      180455.314010
9   2014      186685.024155
10  2015      196619.518072
11  2016      205884.476534
12  2017      215841.099164
13  2018      226442.482100
14  2019      236440.119048
15  2021      275980.380499
16  2022      314207.547170

In [25]:
conn.execute("""
    SELECT 
        year,
        AVG(median_household_income/median_home_value) AS income_2_home_value_ratio
    FROM
        '../data/output/county__acs1.parquet'
    GROUP BY
        year
""").fetchdf()

    year  income_2_home_value_ratio
0   2005                   0.312686
1   2006                   0.301384
2   2007                   0.299293
3   2008                   0.301843
4   2009                   0.299482
5   2010                   0.301892
6   2011                   0.312367
7   2012                   0.321517
8   2013                   0.324751
9   2014                   0.322056
10  2015                   0.317234
11  2016                   0.315596
12  2017                   0.312672
13  2018                   0.308748
14  2019                   0.311642
15  2021                   0.283200
16  2022                   0.267304

In [11]:
import pyarrow.parquet as pq
import pandas as pd

In [16]:
output_file = "../data/output/zcta__acs5.parquet"

In [17]:
pq.read_schema(output_file)

survey: string
year: int64
zcta: string
population: int64
median_age: double
pop_under_20_years: int64
pop_35_49_years: int64
pop_50_64_years: int64
pop_over_65_years: int64
pop_white: int64
pop_black: int64
pop_native: int64
pop_asian: int64
pop_hispanic: int64
pop_non_us_citizen: double
pop_higher_education_enrolled: int64
pop_higher_education_attained: int64
pop_poverty: double
housing_units: int64
housing_occupied: int64
housing_renter_occupied: int64
median_home_value: double
median_household_income: double

In [18]:
pq.read_metadata(output_file)

<pyarrow._parquet.FileMetaData object at 0x153a1e802390>
  created_by: DuckDB
  num_columns: 23
  num_rows: 398748
  num_row_groups: 4
  format_version: 1.0
  serialized_size: 8842

In [19]:
#extract to pandas
df = pd.read_parquet(output_file)

In [20]:
df.head()

,survey,year,zcta,population,median_age,pop_under_20_years,pop_35_49_years,pop_50_64_years,pop_over_65_years,pop_white,...,pop_hispanic,pop_non_us_citizen,pop_higher_education_enrolled,pop_higher_education_attained,pop_poverty,housing_units,housing_occupied,housing_renter_occupied,median_home_value,median_household_income
0,acs5,2009,04110,1259,47.5,374,269,334,216,1139,...,48,0.0,25,275,12.0,511,436,31,572900.0,110000.0
1,acs5,2009,04210,23180,40.1,5814,5516,4489,3397,21678,...,314,436.0,1311,1201,3240.0,11144,10075,3870,162600.0,43979.0
2,acs5,2009,04216,515,49.4,101,95,169,74,515,...,0,4.0,30,28,83.0,503,213,24,121600.0,32813.0
3,acs5,2009,04217,3096,42.9,802,700,670,579,2943,...,0,3.0,152,160,409.0,2474,1229,235,208600.0,46359.0
4,acs5,2009,04219,1436,43.5,357,327,290,273,1381,...,36,2.0,44,60,141.0,1060,585,85,155000.0,38750.0

In [22]:
df.sample(10)

,survey,year,zcta,population,median_age,pop_under_20_years,pop_35_49_years,pop_50_64_years,pop_over_65_years,pop_white,...,pop_hispanic,pop_non_us_citizen,pop_higher_education_enrolled,pop_higher_education_attained,pop_poverty,housing_units,housing_occupied,housing_renter_occupied,median_home_value,median_household_income
35560,acs5,2010,06785,809,47.3,229,140,180,156,809,...,12,0.0,60,144,164.0,426,299,125,599000.0,82875.0
276059,acs5,2017,34208,40998,36.9,11253,7700,7118,6951,28301,...,12548,4631.0,1881,1845,7785.0,14963,12747,5400,172100.0,48664.0
253527,acs5,2016,62862,330,49.4,67,38,63,99,328,...,1,2.0,23,6,23.0,169,155,22,52500.0,52250.0
329388,acs5,2018,95348,34302,28.8,9663,5268,4871,3577,15613,...,15614,3164.0,5080,1237,7907.0,11639,10889,6437,254300.0,51340.0
130055,acs5,2012,95117,32074,32.7,8439,6815,5284,2652,19150,...,11528,7550.0,2243,2844,4460.0,11387,10961,7347,639500.0,67718.0
147584,acs5,2013,65711,9562,41.3,2511,1578,2119,1755,9180,...,150,30.0,262,359,2177.0,4634,4029,1347,83200.0,31232.0
355291,acs5,2019,68355,4897,43.2,1273,835,992,1081,4458,...,27,45.0,136,230,601.0,2474,2285,627,79000.0,41851.0
227814,acs5,2015,85044,40893,37.3,9507,8302,8524,5015,30512,...,7707,2616.0,2954,5229,2337.0,18838,16970,7057,266300.0,73743.0
85242,acs5,2011,56263,456,46.6,100,87,114,80,452,...,0,2.0,21,3,30.0,229,213,28,87700.0,47813.0
64138,acs5,2010,89702,192,35.5,0,49,44,11,134,...,66,64.0,2,2,0.0,0,0,0,NaN,NaN