In [8]:
import pyarrow.parquet as pq
import pandas as pd

In [3]:
pq.read_schema("data/output/census_series/acs1_county.parquet")

year: int64
variable: string
value: double
county: string
-- schema metadata --
pandas: '{"index_columns": ["county"], "column_indexes": [{"name": null, ' + 646

In [4]:
pq.read_metadata("data/output/census_series/acs1_county.parquet")

<pyarrow._parquet.FileMetaData object at 0x1067824d0>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 4
  num_rows: 58246
  num_row_groups: 1
  format_version: 2.6
  serialized_size: 2664

In [9]:
#extract to pandas
df = pd.read_parquet("data/output/census_series/acs1_county.parquet")

In [10]:
df.sample(5)

        year            variable         value
county
16547   2013           education      0.240289
14147   2017       pct_owner_occ      0.590176
03130   2011            hispanic      0.025553
12113   2017       pct_owner_occ      0.514456
01538   2005  medhouseholdincome  44830.000000