In [1]:
import censusdis.data as ced
import pandas as pd
import string

In [2]:
pd.set_option('display.max_colwidth', None)

## Census categories

Here are some common census categories or classifications:

Demographic Characteristics:

* Age
* Sex
* Race
* Ethnicity (Hispanic or Latino origin)
* Marital status
* Household relationship

Economic Characteristics:

* Employment status
* Industry and occupation
* Income and earnings
* Poverty status
* Employment status

Social Characteristics:

* Educational attainment
* School enrollment
* Language spoken at home
* Ancestry
* Disability status
* Migration/Residence one year ago

Housing Characteristics:

* Housing occupancy (owned or rented)
* Housing value
* Rent
* Number of rooms and bedrooms
* Year structure built
* Plumbing and kitchen facilities

Geographical Characteristics:

* Urban and rural classification
* Geographic regions and divisions
* States, counties, and cities
* Census tracts and blocks

Family and Household Characteristics:

* Family composition
* Household size and type
* Presence of children
* Presence of elderly

In [3]:
def validate_xyear(var_variable, var_group, var_dataset, var_years):
    var_df = list() 
    for year in var_years:
        # identify whether group is a dictionary or string
        if isinstance(var_group, dict):
            group = var_group[year]
        elif isinstance(var_group, str):
            group = var_group
        # identify whether dataset is a dictionary or string
        if isinstance(var_dataset, dict):
            dataset = var_dataset[year]
        elif isinstance(var_dataset, str):
            dataset = var_dataset
        # identify whether variable is a dictionary or string
        if isinstance(var_variable, dict):
            variable = var_variable[year]
        elif isinstance(var_variable, str):
            variable = var_variable
        # make request
        var = ced.variables.all_variables(dataset, year, group)
        # make sure variable is in dataset
        if var[var.VARIABLE == variable].shape[0] == 0:
            print(f'{variable} not found in {dataset} for {year}')
            return []
        var = var[var.VARIABLE == variable]
        var_df.append(var)
    var_df = pd.concat(var_df)
    label = var_df.LABEL
    for token in string.punctuation:
        label = label.str.replace(token, ' ')
    # Remove multiple spaces
    label = label.str.replace(' +', ' ', regex=True)
    # Remove leading and trailing spaces
    label = label.str.strip()
    # Convert to small caps
    label = label.str.lower()
    return label.unique().tolist()

## ACS5 Datasets (year 2009)

In [4]:
df_datasets = ced.variables.all_data_sets(year=2009)
df_datasets[df_datasets['DATASET'].str.contains('acs5')][['SYMBOL', 'DATASET', 'TITLE']]

,SYMBOL,DATASET,TITLE
8,ACS5,acs/acs5,American Community Survey: 5-Year Estimates: Detailed Tables 5-Year
9,ACS5_PROFILE,acs/acs5/profile,American Community Survey: 5-Year Estimates: Data Profiles 5-Year
10,ACS5_PUMS,acs/acs5/pums,2005-2009 American Community Survey: 5-Year Estimates - Public Use Microdata Sample
11,ACS5_PUMSPR,acs/acs5/pumspr,2005-2009 American Community Survey: 5-Year Estimates - Puerto Rico Public Use Microdata Sample
12,None,acs5,2005-2009 American Community Survey 5-Year Estimates

## ACS1 Datasets (year 2009)

In [5]:
df_datasets[df_datasets['DATASET'].str.contains('acs1')][['SYMBOL', 'DATASET', 'TITLE']]

,SYMBOL,DATASET,TITLE
0,ACS1,acs/acs1,American Community Survey: 1-Year Estimates: Detailed Tables 1-Year
1,ACS1_PROFILE,acs/acs1/profile,American Community Survey: 1-Year Estimates: Data Profiles 1-Year
2,ACS1_PUMS,acs/acs1/pums,2009 American Community Survey: 1-Year Estimates - Public Use Microdata Sample
3,ACS1_PUMSPR,acs/acs1/pumspr,2009 American Community Survey: 1-Year Estimates - Puerto Rico Public Use Microdata Sample
4,ACS1_SPP,acs/acs1/spp,American Community Survey: 1-Year Estimates: Selected Population Profiles 1-Year

## Decennial Datasets (year 2000)

In [6]:
df_datasets = ced.variables.all_data_sets(year=2000)
df_datasets[df_datasets['DATASET'].str.contains('dec')][['SYMBOL', 'DATASET', 'TITLE']]

,SYMBOL,DATASET,TITLE
4,CPS_BASIC_DEC,cps/basic/dec,Dec 2000 Current Population Survey: Basic Monthly
20,DECENNIAL_AIAN,dec/aian,Decennial Census: American Indian and Alaska Native Summary File
21,DECENNIAL_AIANPROFILE,dec/aianprofile,Decennial Census: American Indian and Alaska Native Demographic Profile
22,DECENNIAL_AS,dec/as,Decennial Census: American Samoa Summary File
23,DECENNIAL_CD110H,dec/cd110h,Decennial Census: 110th Congressional District Summary File (100-Percent)
24,DECENNIAL_CD110HPROFILE,dec/cd110hprofile,Decennial Census: 110th Congressional District Demographic Profile (100-Percent)
25,DECENNIAL_CD110S,dec/cd110s,Decennial Census: 110th Congressional District Summary File (Sample)
26,DECENNIAL_CD110SPROFILE,dec/cd110sprofile,Decennial Census: 110th Congressional District Demographic Profile (Sample)
27,DECENNIAL_CQR,dec/cqr,Decennial Census: Count Question Resolution
28,DECENNIAL_GU,dec/gu,Decennial Census: Guam Summary File
29,DECENNIAL_MP,dec/mp,Decennial Census: Commonwealth of the Northern Mariana Islands Summary File
30,DECENNIAL_PUBLIC_LAW_94_171,dec/pl,Decennial Census: Redistricting Data (PL 94-171)
31,DECENNIAL_SF1,dec/sf1,Decennial Census: Summary File 1
32,DECENNIAL_SF2,dec/sf2,Decennial Census: Summary File 2
33,DECENNIAL_SF2PROFILE,dec/sf2profile,Decennial Census: Summary File 2 Demographic Profile
34,DECENNIAL_SF3,dec/sf3,Decennial Census: Summary File 3
35,DECENNIAL_SF3PROFILE,dec/sf3profile,Decennial Census: Summary File 3 Demographic Profile
36,DECENNIAL_SF4,dec/sf4,Decennial Census: Summary File 4
37,DECENNIAL_SF4PROFILE,dec/sf4profile,Decennial Census: Summary File 4 Demographic Profile
38,DECENNIAL_SLDH,dec/sldh,Decennial Census: State Legislative District Summary File (100-Percent)
39,DECENNIAL_SLDHPROFILE,dec/sldhprofile,Decennial Census: State Legislative District Demographic Profile (100-Percent)
40,DECENNIAL_SLDS,dec/slds,Decennial Census: State Legislative District Summary File (Sample)
41,DECENNIAL_SLDSPROFILE,dec/sldsprofile,Decennial Census: State Legislative District Demographic Profile (Sample)
42,DECENNIAL_VI,dec/vi,Decennial Census: U.S. Virgin Islands Summary File

## Decennial Datasets (year 2010)

In [7]:
df_datasets = ced.variables.all_data_sets(year=2010)
df_datasets[df_datasets['DATASET'].str.contains('dec')][['SYMBOL', 'DATASET', 'TITLE']]

,SYMBOL,DATASET,TITLE
24,CPS_BASIC_DEC,cps/basic/dec,Dec 2010 Current Population Survey: Basic Monthly
37,CPS_FOODSEC_DEC,cps/foodsec/dec,Dec 2010 Current Population Survey: Food Security Supplement
45,DECENNIAL_AIAN,dec/aian,Decennial Census: American Indian and Alaska Native Summary File
46,DECENNIAL_AS,dec/as,Decennial Census: American Samoa Summary File
47,DECENNIAL_ASYOE,dec/asyoe,Decennial Census: American Samoa Year of Entry File
48,DECENNIAL_CD113,dec/cd113,Decennial CD113
49,DECENNIAL_CD113PROFILE,dec/cd113profile,Decennial Census: 113th Congressional District Demographic Profile
50,DECENNIAL_CD115,dec/cd115,Decennial CD115
51,DECENNIAL_CD115PROFILE,dec/cd115profile,Decennial Census: 115th Congressional District Demographic Profile
52,DECENNIAL_CD116,dec/cd116,Decennial Congressional District 116
53,DECENNIAL_GU,dec/gu,Decennial Census: Guam Summary File
54,DECENNIAL_GUYOE,dec/guyoe,Decennial Census: Guam Year of Entry File
55,DECENNIAL_MP,dec/mp,Decennial Census: Commonwealth of the Northern Mariana Islands Summary File
56,DECENNIAL_MPYOE,dec/mpyoe,Decennial Census: Commonwealth of the Northern Mariana Islands Year of Entry File
57,DECENNIAL_PUBLIC_LAW_94_171,dec/pl,Decennial Census: Redistricting Data (PL 94-171)
58,DECENNIAL_PLNAT,dec/plnat,Decennial Census: National Redistricting Data
59,DECENNIAL_RESPONSERATE,dec/responserate,Decennial Census: Decennial Self-Reponse Rate
60,DECENNIAL_SF1,dec/sf1,Decennial SF1
61,DECENNIAL_SF2,dec/sf2,Decennial SF2
62,DECENNIAL_VI,dec/vi,Decennial Census: U.S. Virgin Islands Summary File

## Decennial Datasets (year 2020)

In [8]:
df_datasets = ced.variables.all_data_sets(year=2020)
df_datasets[df_datasets['DATASET'].str.contains('dec')][['SYMBOL', 'DATASET', 'TITLE']]

,SYMBOL,DATASET,TITLE
18,CPS_BASIC_DEC,cps/basic/dec,Current Population Survey: Basic Monthly
30,CPS_FOODSEC_DEC,cps/foodsec/dec,Current Population Survey: Food Security Supplement
34,DECENNIAL_CD118,dec/cd118,Decennial Census: 118th Congressional District Summary File
35,DECENNIAL_CROSSTABAS,dec/crosstabas,Decennial Census of Island Areas: American Samoa Detailed Crosstabulations
36,DECENNIAL_CROSSTABGU,dec/crosstabgu,Decennial Census of Island Areas: Guam Detailed Crosstabulations
37,DECENNIAL_CROSSTABMP,dec/crosstabmp,Decennial Census of Island Areas: Commonwealth of the Northern Mariana Islands Detailed Crosstabulations
38,DECENNIAL_CROSSTABVI,dec/crosstabvi,Decennial Census of Island Areas: U.S. Virgin Islands Detailed Crosstabulations
39,DECENNIAL_DDHCA,dec/ddhca,Decennial Census: Detailed Demographic and Housing Characteristics File A
40,DECENNIAL_DHC,dec/dhc,Decennial Census: Demographic and Housing Characteristics
41,DECENNIAL_DHCAS,dec/dhcas,Decennial Census of Island Areas: American Samoa Demographic and Housing Characteristics
42,DECENNIAL_DHCGU,dec/dhcgu,Decennial Census of Island Areas: Guam Demographic and Housing Characteristics
43,DECENNIAL_DHCMP,dec/dhcmp,Decennial Census of Island Areas: Commonwealth of the Northern Mariana Islands Demographic and Housing Characteristics
44,DECENNIAL_DHCVI,dec/dhcvi,Decennial Census of Island Areas: U.S. Virgin Islands Demographic and Housing Characteristics
45,DECENNIAL_DP,dec/dp,Decennial Census: Demographic Profile
46,DECENNIAL_DPAS,dec/dpas,Decennial Census of Island Areas: American Samoa Demographic Profile
47,DECENNIAL_DPGU,dec/dpgu,Decennial Census of Island Areas: Guam Demographic Profile
48,DECENNIAL_DPMP,dec/dpmp,2020 Commonwealth of the Northern Mariana Islands Demographic Profile
49,DECENNIAL_DPVI,dec/dpvi,Decennial Census of Island Areas: U.S. Virgin Islands Demographic Profile
50,DECENNIAL_PES,dec/pes,Decennial Census: Decennial Post-Enumeration Survey
51,DECENNIAL_PUBLIC_LAW_94_171,dec/pl,Decennial Census: Redistricting Data (PL 94-171)
52,DECENNIAL_RESPONSERATE,dec/responserate,Decennial Census: Decennial Self-Response Rate

## ACS5 Groups (year 2009)

In [9]:
acs_acs5_groups_2009 = ced.variables.all_groups('acs/acs5', year=2009)[['GROUP', 'DESCRIPTION']]
acs_acs5_groups_2009.to_csv('notes/acs_acs5_groups_2009.csv', index=False)
acs_acs5_groups_2009

,GROUP,DESCRIPTION
0,B00001,UNWEIGHTED SAMPLE COUNT OF THE POPULATION
1,B00002,UNWEIGHTED SAMPLE HOUSING UNITS
2,B01001,SEX BY AGE
3,B01001A,SEX BY AGE (WHITE ALONE)
4,B01001B,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)
...,...,...
629,C23002H,"SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (WHITE ALONE, NOT HISPANIC OR LATINO)"
630,C23002I,SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER (HISPANIC OR LATINO)
631,C24010,SEX BY OCCUPATION FOR THE CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER
632,C24030,SEX BY INDUSTRY FOR THE CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER
633,C25095,HOUSEHOLD INCOME BY SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS

In [10]:
ced.variables.all_groups('acs/acs5/profile', year=2009)[['GROUP', 'DESCRIPTION']]

    GROUP                                                      DESCRIPTION
0    DP02  Selected Social Characteristics in the United States: 2005-2009
1  DP02PR        Selected Social Characteristics in Puerto Rico: 2005-2009
2    DP03                     Selected Economic Characteristics: 2005-2009
3    DP04                      Selected Housing Characteristics: 2005-2009
4    DP05                ACS Demographic and Housing Estimates:  2005-2009

In [11]:
ced.variables.all_groups('acs/acs5/pums', year=2009)[['GROUP', 'DESCRIPTION']]

Empty DataFrame
Columns: [GROUP, DESCRIPTION]
Index: []

In [12]:
ced.variables.all_groups('acs5', year=2009)[['GROUP', 'DESCRIPTION']]

Empty DataFrame
Columns: [GROUP, DESCRIPTION]
Index: []

## ACS1 Groups (year 2007)

In [13]:
acs_acs1_groups_2007 = ced.variables.all_groups('acs/acs1', year=2007)[['GROUP', 'DESCRIPTION']]
acs_acs1_groups_2007.to_csv('notes/acs_acs1_groups_2007.csv', index=False)
acs_acs1_groups_2007

,GROUP,DESCRIPTION
0,B00001,UNWEIGHTED SAMPLE COUNT OF THE POPULATION
1,B00002,UNWEIGHTED SAMPLE HOUSING UNITS
2,B01001,SEX BY AGE
3,B01001A,SEX BY AGE (WHITE ALONE)
4,B01001B,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)
...,...,...
1360,C25116,TENURE BY HOUSEHOLD SIZE BY AGE OF HOUSEHOLDER
1361,C25117,TENURE BY HOUSE HEATING FUEL
1362,C25121,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2007 INFLATION-ADJUSTED DOLLARS) BY VALUE
1363,C25122,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2007 INFLATION-ADJUSTED DOLLARS) BY GROSS RENT
1364,C25123,TENURE BY SELECTED PHYSICAL AND FINANCIAL CONDITIONS

In [14]:
ced.variables.all_groups('acs/acs1/profile', year=2007)[['GROUP', 'DESCRIPTION']]

    GROUP                                                 DESCRIPTION
0    DP02  Selected Social Characteristics in the United States: 2007
1  DP02PR        Selected Social Characteristics in Puerto Rico: 2007
2    DP03                    Selected Economic Characteristics:  2007
3    DP04                     Selected Housing Characteristics:  2007
4    DP05                ACS Demographic and Housing Estimates:  2007

In [15]:
ced.variables.all_groups('acs/acs1/pums', year=2007)[['GROUP', 'DESCRIPTION']]

Empty DataFrame
Columns: [GROUP, DESCRIPTION]
Index: []

In [16]:
# acs/acs1/spp is not available for 2007
ced.variables.all_groups('acs/acs1/spp', year=2008)[['GROUP', 'DESCRIPTION']]

     GROUP                                       DESCRIPTION
0    S0201  Selected Population Profile in the United States
1  S0201PR        Selected Population Profile in Puerto Rico

## Dec groups

In [17]:
datasets = {
    2000: ['sf1', 'sf2', 'sf3', 'sf4'],
    2010: ['sf1', 'sf2'],
    2020: ['dhc']
}
for year in [2000, 2010, 2020]:
    for dataset in datasets[year]:
        print(f'{dataset} {year}')
        df = ced.variables.all_groups(f'dec/{dataset}', year=year)[['GROUP', 'DESCRIPTION']]
        filename = f'notes/dec_{dataset}_groups_{year}.csv'
        df.to_csv(filename, index=False)

sf1 2000
sf2 2000
sf3 2000
sf4 2000
sf1 2010
sf2 2010
dhc 2020

In [18]:
dec_sf1_groups_2000 = ced.variables.all_groups('dec/sf1', year=2000)[['GROUP', 'DESCRIPTION']]

# Census variables

## `pct_under_20_years`, `pct_20_35_years`, `pct_35_50_years`, `pct_50_65_years`, `pct_more_65_years`

In [19]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B01001'])
ced.variables.all_variables('acs/acs5', 2009, 'B01001')[['VARIABLE', 'LABEL']]

    GROUP DESCRIPTION
2  B01001  SEX BY AGE

         VARIABLE                                       LABEL
0    B01001A_001E                             Estimate!!Total
1    B01001A_002E                       Estimate!!Total!!Male
2    B01001A_003E        Estimate!!Total!!Male!!Under 5 years
3    B01001A_004E         Estimate!!Total!!Male!!5 to 9 years
4    B01001A_005E       Estimate!!Total!!Male!!10 to 14 years
..            ...                                         ...
325   B01001_047E     Estimate!!Total!!Female!!75 to 79 years
326   B01001_048E     Estimate!!Total!!Female!!80 to 84 years
327   B01001_049E  Estimate!!Total!!Female!!85 years and over
328        GEO_ID                                   Geography
329          NAME                        Geographic Area Name

[330 rows x 2 columns]

In [20]:
valid_codes = [len(validate_xyear(f'B01001_{i:03}E', 'B01001', 'acs/acs5', range(2009, 2022 + 1))) == 1 for i in range(1, 50)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]
total codes: 49
total valid codes: 49

In [21]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B01001'])
df = ced.variables.all_variables('acs/acs1', 2007, 'B01001')
df = df[df.VARIABLE.str.contains('B01001_')]
df[['VARIABLE', 'LABEL']]

    GROUP DESCRIPTION
2  B01001  SEX BY AGE

        VARIABLE                                       LABEL
279  B01001_001E                             Estimate!!Total
280  B01001_002E                       Estimate!!Total!!Male
281  B01001_003E        Estimate!!Total!!Male!!Under 5 years
282  B01001_004E         Estimate!!Total!!Male!!5 to 9 years
283  B01001_005E       Estimate!!Total!!Male!!10 to 14 years
284  B01001_006E       Estimate!!Total!!Male!!15 to 17 years
285  B01001_007E      Estimate!!Total!!Male!!18 and 19 years
286  B01001_008E             Estimate!!Total!!Male!!20 years
287  B01001_009E             Estimate!!Total!!Male!!21 years
288  B01001_010E       Estimate!!Total!!Male!!22 to 24 years
289  B01001_011E       Estimate!!Total!!Male!!25 to 29 years
290  B01001_012E       Estimate!!Total!!Male!!30 to 34 years
291  B01001_013E       Estimate!!Total!!Male!!35 to 39 years
292  B01001_014E       Estimate!!Total!!Male!!40 to 44 years
293  B01001_015E       Estimate!!Total!!Male!!45 to 49 years
294  B01001_016E       Estimate!!Total!!Male!!50 to 54 years
295  B01001_017E       Estimate!!Total!!Male!!55 to 59 years
296  B01001_018E      Estimate!!Total!!Male!!60 and 61 years
297  B01001_019E       Estimate!!Total!!Male!!62 to 64 years
298  B01001_020E      Estimate!!Total!!Male!!65 and 66 years
299  B01001_021E       Estimate!!Total!!Male!!67 to 69 years
300  B01001_022E       Estimate!!Total!!Male!!70 to 74 years
301  B01001_023E       Estimate!!Total!!Male!!75 to 79 years
302  B01001_024E       Estimate!!Total!!Male!!80 to 84 years
303  B01001_025E    Estimate!!Total!!Male!!85 years and over
304  B01001_026E                     Estimate!!Total!!Female
305  B01001_027E      Estimate!!Total!!Female!!Under 5 years
306  B01001_028E       Estimate!!Total!!Female!!5 to 9 years
307  B01001_029E     Estimate!!Total!!Female!!10 to 14 years
308  B01001_030E     Estimate!!Total!!Female!!15 to 17 years
309  B01001_031E    Estimate!!Total!!Female!!18 and 19 years
310  B01001_032E           Estimate!!Total!!Female!!20 years
311  B01001_033E           Estimate!!Total!!Female!!21 years
312  B01001_034E     Estimate!!Total!!Female!!22 to 24 years
313  B01001_035E     Estimate!!Total!!Female!!25 to 29 years
314  B01001_036E     Estimate!!Total!!Female!!30 to 34 years
315  B01001_037E     Estimate!!Total!!Female!!35 to 39 years
316  B01001_038E     Estimate!!Total!!Female!!40 to 44 years
317  B01001_039E     Estimate!!Total!!Female!!45 to 49 years
318  B01001_040E     Estimate!!Total!!Female!!50 to 54 years
319  B01001_041E     Estimate!!Total!!Female!!55 to 59 years
320  B01001_042E    Estimate!!Total!!Female!!60 and 61 years
321  B01001_043E     Estimate!!Total!!Female!!62 to 64 years
322  B01001_044E    Estimate!!Total!!Female!!65 and 66 years
323  B01001_045E     Estimate!!Total!!Female!!67 to 69 years
324  B01001_046E     Estimate!!Total!!Female!!70 to 74 years
325  B01001_047E     Estimate!!Total!!Female!!75 to 79 years
326  B01001_048E     Estimate!!Total!!Female!!80 to 84 years
327  B01001_049E  Estimate!!Total!!Female!!85 years and over

In [22]:
acs1_years = list(i for i in range(2007, 2022 + 1) if i != 2020)
valid_codes = [len(validate_xyear(f'B01001_{i:03}E', 'B01001', 'acs/acs1', acs1_years)) == 1 for i in range(1, 50)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]
total codes: 49
total valid codes: 49

In [23]:
var_group = {}
var_group[2000] = 'P012'
var_group[2010] = 'P12'
var_group[2020] = 'P12'

var_dataset = {}
var_dataset[2000] = 'dec/sf1'
var_dataset[2010] = 'dec/sf1'
var_dataset[2020] = 'dec/dhc'

var_df = []
for year in [2000, 2010, 2020]:
    dataset = var_dataset[year]
    group = var_group[year]
    print(f'{dataset} {year} {group}')
    var = ced.variables.all_variables(dataset, year, group)
    var_df.append(var)
var_df = pd.concat(var_df)
var_df.to_csv('notes/dec_sex_age.csv', index=False)

dec/sf1 2000 P012
dec/sf1 2010 P12
dec/dhc 2020 P12

In [24]:
var_variable_prefix = {}
var_variable_prefix[2000] = 'P012'
var_variable_prefix[2010] = 'P012'
var_variable_prefix[2020] = 'P12_'

var_variable_suffix = {}
var_variable_suffix[2000] = ''
var_variable_suffix[2010] = ''
var_variable_suffix[2020] = 'N'

var_variable_list = []
for i in range(1, 49+1):
    var_variable = {}
    for year in [2000, 2010, 2020]:
        var_variable[year] = f'{var_variable_prefix[year]}{i:03d}{var_variable_suffix[year]}'
    var_variable_list.append(var_variable)
var_variable_list[-5:]

[{2000: 'P012045', 2010: 'P012045', 2020: 'P12_045N'},
 {2000: 'P012046', 2010: 'P012046', 2020: 'P12_046N'},
 {2000: 'P012047', 2010: 'P012047', 2020: 'P12_047N'},
 {2000: 'P012048', 2010: 'P012048', 2020: 'P12_048N'},
 {2000: 'P012049', 2010: 'P012049', 2020: 'P12_049N'}]

In [25]:
valid_codes = []
for i in range(49):
    val = validate_xyear(var_variable_list[i], var_group, var_dataset, [2000,2010,2020])
    valid_codes.append(len(val) == 1)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

total codes: 49
total valid codes: 49

In [26]:
# i = 1
# var_df = list()
# for year in [2000, 2010, 2020]:
#     dataset = var_dataset[year]
#     group = var_group[year]
#     variable_prefix = var_variable_prefix[year]
#     variable_suffix = var_variable_suffix[year]
#     variable = f'{variable_prefix}{i:03d}{variable_suffix}'
#     var = ced.variables.all_variables(dataset, year, group)
#     var = var[var.VARIABLE == variable]
#     if var.shape[0] == 0:
#         print(f'{variable} not found in {dataset} for {year}')
#     var_df.append(var)
# var_df = pd.concat(var_df)
# var_df

### `population`

In [27]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B01003'])
ced.variables.all_variables('acs/acs5', 2009, 'B01003')

     GROUP       DESCRIPTION
22  B01003  TOTAL POPULATION

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2009,acs/acs5,B01003,B01003_001E,Estimate!!Total,NaN,None
1,2009,acs/acs5,B01003,GEO_ID,Geography,NaN,None
2,2009,acs/acs5,B01003,NAME,Geographic Area Name,NaN,None

### `population`, `pct_white`, `pct_black`, `pct_asian`

In [28]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B02001'])
ced.variables.all_variables('acs/acs5', 2009, 'B02001')[['VARIABLE', 'LABEL']]

     GROUP DESCRIPTION
23  B02001        RACE

,VARIABLE,LABEL
0,B02001_001E,Estimate!!Total
1,B02001_002E,Estimate!!Total!!White alone
2,B02001_003E,Estimate!!Total!!Black or African American alone
3,B02001_004E,Estimate!!Total!!American Indian and Alaska Native alone
4,B02001_005E,Estimate!!Total!!Asian alone
5,B02001_006E,Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone
6,B02001_007E,Estimate!!Total!!Some other race alone
7,B02001_008E,Estimate!!Total!!Two or more races
8,B02001_009E,Estimate!!Total!!Two or more races!!Two races including Some other race
9,B02001_010E,"Estimate!!Total!!Two or more races!!Two races excluding Some other race, and three or more races"
10,GEO_ID,Geography
11,NAME,Geographic Area Name

In [29]:
valid_codes = [len(validate_xyear(f'B02001_{i:03}E', 'B02001', 'acs/acs5', range(2009, 2022+1))) == 1 for i in range(1, 11)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True, True, True, True, True]
total codes: 10
total valid codes: 10

In [30]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B02001'])
ced.variables.all_variables('acs/acs1', 2007, 'B02001')[['VARIABLE', 'LABEL']]

     GROUP DESCRIPTION
23  B02001        RACE

,VARIABLE,LABEL
0,B02001_001E,Estimate!!Total
1,B02001_002E,Estimate!!Total!!White alone
2,B02001_003E,Estimate!!Total!!Black or African American alone
3,B02001_004E,Estimate!!Total!!American Indian and Alaska Native alone
4,B02001_005E,Estimate!!Total!!Asian alone
5,B02001_006E,Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone
6,B02001_007E,Estimate!!Total!!Some other race alone
7,B02001_008E,Estimate!!Total!!Two or more races
8,B02001_009E,Estimate!!Total!!Two or more races!!Two races including Some other race
9,B02001_010E,"Estimate!!Total!!Two or more races!!Two races excluding Some other race, and three or more races"
10,GEO_ID,Geography
11,NAME,Geographic Area Name

In [31]:
valid_codes = [len(validate_xyear(f'B02001_{i:03}E', 'B02001', 'acs/acs1', acs1_years)) == 1 for i in range(1, 11)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True, True, True, True, True]
total codes: 10
total valid codes: 10

In [32]:
var_group = {}
var_group[2000] = 'P007'
var_group[2010] = 'P8'
var_group[2020] = 'P8'

var_dataset = {}
var_dataset[2000] = 'dec/sf1'
var_dataset[2010] = 'dec/sf1'
var_dataset[2020] = 'dec/dhc'

var_df = []
for year in [2000, 2010, 2020]:
    dataset = var_dataset[year]
    group = var_group[year]
    print(f'{dataset} {year} {group}')
    var = ced.variables.all_variables(dataset, year, group)
    var_df.append(var)
var_df = pd.concat(var_df)
var_df.to_csv('notes/dec_race.csv', index=False)

dec/sf1 2000 P007
dec/sf1 2010 P8
dec/dhc 2020 P8

In [33]:
var_variable_prefix = {}
var_variable_prefix[2000] = 'P007'
var_variable_prefix[2010] = 'P008'
var_variable_prefix[2020] = 'P8_'

var_variable_suffix = {}
var_variable_suffix[2000] = ''
var_variable_suffix[2010] = ''
var_variable_suffix[2020] = 'N'

var_variable_list = []
for i in range(1, 8+1):
    var_variable = {}
    for year in [2000, 2010, 2020]:
        var_variable[year] = f'{var_variable_prefix[year]}{i:03d}{var_variable_suffix[year]}'
    var_variable_list.append(var_variable)
var_variable_list[-5:]

[{2000: 'P007004', 2010: 'P008004', 2020: 'P8_004N'},
 {2000: 'P007005', 2010: 'P008005', 2020: 'P8_005N'},
 {2000: 'P007006', 2010: 'P008006', 2020: 'P8_006N'},
 {2000: 'P007007', 2010: 'P008007', 2020: 'P8_007N'},
 {2000: 'P007008', 2010: 'P008008', 2020: 'P8_008N'}]

In [34]:
var_df = list()
for i in range(1, 9):
    for year in [2000, 2010, 2020]:
        dataset = var_dataset[year]
        group = var_group[year]
        variable_prefix = var_variable_prefix[year]
        variable_suffix = var_variable_suffix[year]
        variable = f'{variable_prefix}{i:03d}{variable_suffix}'
        var = ced.variables.all_variables(dataset, year, group)
        var = var[var.VARIABLE == variable]
        if var.shape[0] == 0:
            print(f'{variable} not found in {dataset} for {year}')
        label = var.LABEL
        for token in string.punctuation:
            label = label.str.replace(token, ' ')
        # Remove multiple spaces
        label = label.str.replace(' +', ' ', regex=True)
        # Remove leading and trailing spaces
        label = label.str.strip()
        # Convert to small caps
        label = label.str.lower()
        var['LABEL'] = label
        var_df.append(var[['YEAR', 'DATASET', 'GROUP', 'VARIABLE', 'LABEL']])
var_df = pd.concat(var_df)
var_df

,YEAR,DATASET,GROUP,VARIABLE,LABEL
2,2000,dec/sf1,P007,P007001,total
2,2010,dec/sf1,P8,P008001,total
2,2020,dec/dhc,P8,P8_001N,total
3,2000,dec/sf1,P007,P007002,total white alone
4,2010,dec/sf1,P8,P008002,total population of one race
3,2020,dec/dhc,P8,P8_002N,total population of one race
4,2000,dec/sf1,P007,P007003,total black or african american alone
5,2010,dec/sf1,P8,P008003,total population of one race white alone
4,2020,dec/dhc,P8,P8_003N,total population of one race white alone
5,2000,dec/sf1,P007,P007004,total american indian and alaska native alone
6,2010,dec/sf1,P8,P008004,total population of one race black or african american alone
5,2020,dec/dhc,P8,P8_004N,total population of one race black or african american alone
6,2000,dec/sf1,P007,P007005,total asian alone
7,2010,dec/sf1,P8,P008005,total population of one race american indian and alaska native alone
6,2020,dec/dhc,P8,P8_005N,total population of one race american indian and alaska native alone
7,2000,dec/sf1,P007,P007006,total native hawaiian and other pacific islander alone
8,2010,dec/sf1,P8,P008006,total population of one race asian alone
7,2020,dec/dhc,P8,P8_006N,total population of one race asian alone
8,2000,dec/sf1,P007,P007007,total some other race alone
9,2010,dec/sf1,P8,P008007,total population of one race native hawaiian and other pacific islander alone
8,2020,dec/dhc,P8,P8_007N,total population of one race native hawaiian and other pacific islander alone
9,2000,dec/sf1,P007,P007008,total two or more races
10,2010,dec/sf1,P8,P008008,total population of one race some other race alone
9,2020,dec/dhc,P8,P8_008N,total population of one race some other race alone

### `pct_hispanic`

In [35]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B03003'])
ced.variables.all_variables('acs/acs5', 2009, 'B03003')[['VARIABLE', 'LABEL']]

     GROUP                DESCRIPTION
35  B03003  HISPANIC OR LATINO ORIGIN

      VARIABLE                                    LABEL
0  B03003_001E                          Estimate!!Total
1  B03003_002E  Estimate!!Total!!Not Hispanic or Latino
2  B03003_003E      Estimate!!Total!!Hispanic or Latino
3       GEO_ID                                Geography
4         NAME                     Geographic Area Name

In [36]:
valid_codes = [len(validate_xyear(f'B03003_{i:03}E', 'B03003', 'acs/acs5', range(2009, 2022+1))) == 1 for i in range(1, 4)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True]
total codes: 3
total valid codes: 3

In [37]:
# hispanic is not available until 2009
ced.variables.all_variables('acs/acs1', 2009, 'B03003')[['VARIABLE', 'LABEL']]

      VARIABLE                                    LABEL
0  B03003_001E                          Estimate!!Total
1  B03003_002E  Estimate!!Total!!Not Hispanic or Latino
2  B03003_003E      Estimate!!Total!!Hispanic or Latino
3       GEO_ID                                Geography
4         NAME                     Geographic Area Name

In [38]:
hispanic_acs1_years = list(i for i in range(2009, 2022 + 1) if i != 2020)
valid_codes = [len(validate_xyear(f'B03003_{i:03}E', 'B03003', 'acs/acs5', hispanic_acs1_years)) == 1 for i in range(1, 4)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True]
total codes: 3
total valid codes: 3

In [39]:
var_group = {}
var_group[2000] = 'P011'
var_group[2010] = 'P4'
var_group[2020] = 'P4'

var_dataset = {}
var_dataset[2000] = 'dec/sf1'
var_dataset[2010] = 'dec/sf1'
var_dataset[2020] = 'dec/dhc'

var_df = []
for year in [2000, 2010, 2020]:
    dataset = var_dataset[year]
    group = var_group[year]
    print(f'{dataset} {year} {group}')
    var = ced.variables.all_variables(dataset, year, group)
    var_df.append(var)
var_df = pd.concat(var_df)
var_df.to_csv('notes/dec_hispanic.csv', index=False)

dec/sf1 2000 P011
dec/sf1 2010 P4
dec/dhc 2020 P4

* 2000,dec/sf1,P011,P011001,Total,,
* 2010,dec/sf1,P4,P004003,Total!!Hispanic or Latino,,
* 2020,dec/dhc,P4,P4_003N, !!Total:!!Hispanic or Latino,,

### `pct_non_us_citizen`

In [ ]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B05001'])
ced.variables.all_variables('acs/acs5', 2009, 'B05001')[['VARIABLE', 'LABEL']]

In [ ]:
valid_codes = [len(validate_xyear(f'B05001_{i:03}E', 'B05001', 'acs/acs5', range(2009, 2022+1))) == 1 for i in range(1, 7)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

In [42]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B05001'])
ced.variables.all_variables('acs/acs1', 2007, 'B05001')[['VARIABLE', 'LABEL']]

     GROUP                              DESCRIPTION
43  B05001  CITIZENSHIP STATUS IN THE UNITED STATES

,VARIABLE,LABEL
0,B05001PR_001E,Estimate!!Total
1,B05001PR_002E,"Estimate!!Total!!U.S. citizen, born in Puerto Rico"
2,B05001PR_003E,"Estimate!!Total!!U.S. citizen, born in U.S. or U.S. Island Areas"
3,B05001PR_004E,"Estimate!!Total!!U.S. citizen, born abroad of American parent(s)"
4,B05001PR_005E,Estimate!!Total!!U.S. citizen by naturalization
5,B05001PR_006E,Estimate!!Total!!Not a U.S. citizen
6,B05001_001E,Estimate!!Total
7,B05001_002E,"Estimate!!Total!!U.S. citizen, born in the United States"
8,B05001_003E,"Estimate!!Total!!U.S. citizen, born in Puerto Rico or U.S. Island Areas"
9,B05001_004E,"Estimate!!Total!!U.S. citizen, born abroad of American parent(s)"
10,B05001_005E,Estimate!!Total!!U.S. citizen by naturalization
11,B05001_006E,Estimate!!Total!!Not a U.S. citizen
12,GEO_ID,Geography
13,NAME,Geographic Area Name

In [43]:
valid_codes = [len(validate_xyear(f'B05001_{i:03}E', 'B05001', 'acs/acs1', acs1_years)) == 1 for i in range(1, 7)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True]
total codes: 6
total valid codes: 6

In [44]:
var_group = {}
var_group[2000] = 'P007'
var_group[2010] = 'P8'
var_group[2020] = 'P8'

var_dataset = {}
var_dataset[2000] = 'dec/sf1'
var_dataset[2010] = 'dec/sf1'
var_dataset[2020] = 'dec/dhc'

var_df = []
for year in [2000, 2010, 2020]:
    dataset = var_dataset[year]
    group = var_group[year]
    print(f'{dataset} {year} {group}')
    var = ced.variables.all_variables(dataset, year, group)
    var_df.append(var)
var_df = pd.concat(var_df)
var_df.to_csv('notes/dec_race.csv', index=False)

dec/sf1 2000 P007
dec/sf1 2010 P8
dec/dhc 2020 P8

In [45]:
# In most recent censuses, 
# citizenship data is Not collected through the Decennial Census short form, 
# which is the primary form sent to all households.

ced.variables.all_variables('dec/sf3', 2000, 'P021')

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2000,dec/sf3,P021,GEO_ID,Geography,NaN,None
1,2000,dec/sf3,P021,NAME,Label for GEO_ID,NaN,None
2,2000,dec/sf3,P021,P021001,Total,NaN,None
3,2000,dec/sf3,P021,P021002,Total!!Native,NaN,None
4,2000,dec/sf3,P021,P021003,Total!!Native!!Born in state of residence,NaN,None
5,2000,dec/sf3,P021,P021004,Total!!Native!!Born in other state in the United States,NaN,None
6,2000,dec/sf3,P021,P021005,Total!!Native!!Born in other state in the United States!!Northeast,NaN,None
7,2000,dec/sf3,P021,P021006,Total!!Native!!Born in other state in the United States!!Midwest,NaN,None
8,2000,dec/sf3,P021,P021007,Total!!Native!!Born in other state in the United States!!South,NaN,None
9,2000,dec/sf3,P021,P021008,Total!!Native!!Born in other state in the United States!!West,NaN,None
10,2000,dec/sf3,P021,P021009,Total!!Native!!Born outside the United States,NaN,None
11,2000,dec/sf3,P021,P021010,Total!!Native!!Born outside the United States!!Puerto Rico,NaN,None
12,2000,dec/sf3,P021,P021011,Total!!Native!!Born outside the United States!!U.S. Island Areas,NaN,None
13,2000,dec/sf3,P021,P021012,Total!!Native!!Born outside the United States!!Born abroad of American parent(s),NaN,None
14,2000,dec/sf3,P021,P021013,Total!!Foreign born,NaN,None
15,2000,dec/sf3,P021,P021014,Total!!Foreign born!!Naturalized citizen,NaN,None
16,2000,dec/sf3,P021,P021015,Total!!Foreign born!!Not a citizen,NaN,None

### `pct_higher_education`

In [46]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B14001'])
ced.variables.all_variables('acs/acs5', 2009, 'B14001')

      GROUP  \
173  B14001

                                                                  DESCRIPTION
173  SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE POPULATION 3 YEARS AND OVER

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2009,acs/acs5,B14001,B14001_001E,Estimate!!Total,NaN,None
1,2009,acs/acs5,B14001,B14001_002E,Estimate!!Total!!Enrolled in school,NaN,None
2,2009,acs/acs5,B14001,B14001_003E,"Estimate!!Total!!Enrolled in school!!Enrolled in nursery school, preschool",NaN,None
3,2009,acs/acs5,B14001,B14001_004E,Estimate!!Total!!Enrolled in school!!Enrolled in kindergarten,NaN,None
4,2009,acs/acs5,B14001,B14001_005E,Estimate!!Total!!Enrolled in school!!Enrolled in grade 1 to grade 4,NaN,None
5,2009,acs/acs5,B14001,B14001_006E,Estimate!!Total!!Enrolled in school!!Enrolled in grade 5 to grade 8,NaN,None
6,2009,acs/acs5,B14001,B14001_007E,Estimate!!Total!!Enrolled in school!!Enrolled in grade 9 to grade 12,NaN,None
7,2009,acs/acs5,B14001,B14001_008E,"Estimate!!Total!!Enrolled in school!!Enrolled in college, undergraduate years",NaN,None
8,2009,acs/acs5,B14001,B14001_009E,Estimate!!Total!!Enrolled in school!!Graduate or professional school,NaN,None
9,2009,acs/acs5,B14001,B14001_010E,Estimate!!Total!!Not enrolled in school,NaN,None
10,2009,acs/acs5,B14001,GEO_ID,Geography,NaN,None
11,2009,acs/acs5,B14001,NAME,Geographic Area Name,NaN,None

In [47]:
valid_codes = [len(validate_xyear(f'B14001_{i:03}E', 'B14001', 'acs/acs5', range(2009, 2022+1))) == 1 for i in range(1, 11)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True, True, True, True, True]
total codes: 10
total valid codes: 10

In [48]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B14001'])
ced.variables.all_variables('acs/acs1', 2007, 'B14001')[['VARIABLE', 'LABEL']]

      GROUP  \
360  B14001

                                                                  DESCRIPTION
360  SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE POPULATION 3 YEARS AND OVER

,VARIABLE,LABEL
0,B14001A_001E,Estimate!!Total
1,B14001A_002E,Estimate!!Total!!Enrolled in school
2,B14001A_003E,"Estimate!!Total!!Enrolled in school!!Enrolled in nursery school, kindergarten"
3,B14001A_004E,Estimate!!Total!!Enrolled in school!!Enrolled in grade 1 to grade 8
4,B14001A_005E,Estimate!!Total!!Enrolled in school!!Enrolled in grade 9 to grade 12
...,...,...
70,B14001_008E,"Estimate!!Total!!Enrolled in school!!Enrolled in college, undergraduate years"
71,B14001_009E,Estimate!!Total!!Enrolled in school!!Graduate or professional school
72,B14001_010E,Estimate!!Total!!Not enrolled in school
73,GEO_ID,Geography
74,NAME,Geographic Area Name

In [49]:
valid_codes = [len(validate_xyear(f'B14001_{i:03}E', 'B14001', 'acs/acs1', acs1_years)) == 1 for i in range(1, 11)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True, True, True, True, True, True, True, True]
total codes: 10
total valid codes: 10

### `pct_poverty`

In [50]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B17001'])
ced.variables.all_variables('acs/acs5', 2009, 'B17001')[['VARIABLE', 'LABEL']]

      GROUP                                         DESCRIPTION
186  B17001  POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY AGE

,VARIABLE,LABEL
0,B17001A_001E,Estimate!!Total
1,B17001A_002E,Estimate!!Total!!Income in the past 12 months below poverty level
2,B17001A_003E,Estimate!!Total!!Income in the past 12 months below poverty level!!Male
3,B17001A_004E,Estimate!!Total!!Income in the past 12 months below poverty level!!Male!!Under 5 years
4,B17001A_005E,Estimate!!Total!!Income in the past 12 months below poverty level!!Male!!5 years
...,...,...
587,B17001_057E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!55 to 64 years
588,B17001_058E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!65 to 74 years
589,B17001_059E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!75 years and over
590,GEO_ID,Geography
591,NAME,Geographic Area Name

In [51]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B17025'])
ced.variables.all_variables('acs/acs5', 2009, 'B17025')[['VARIABLE', 'LABEL']]

      GROUP                                       DESCRIPTION
225  B17025  POVERTY STATUS IN THE PAST 12 MONTHS BY NATIVITY

,VARIABLE,LABEL
0,B17025_001E,Estimate!!Total
1,B17025_002E,Estimate!!Total!!Income in the past 12 months below poverty level
2,B17025_003E,Estimate!!Total!!Income in the past 12 months below poverty level!!Native
3,B17025_004E,Estimate!!Total!!Income in the past 12 months below poverty level!!Native!!Born in the United States
4,B17025_005E,Estimate!!Total!!Income in the past 12 months below poverty level!!Native!!Born outside the United States
5,B17025_006E,Estimate!!Total!!Income in the past 12 months below poverty level!!Foreign born
6,B17025_007E,Estimate!!Total!!Income in the past 12 months below poverty level!!Foreign born!!Naturalized citizen
7,B17025_008E,Estimate!!Total!!Income in the past 12 months below poverty level!!Foreign born!!Not a citizen
8,B17025_009E,Estimate!!Total!!Income in the past 12 months at or above poverty level
9,B17025_010E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Native
10,B17025_011E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Native!!Born in the United States
11,B17025_012E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Native!!Born outside the United States
12,B17025_013E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Foreign born
13,B17025_014E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Foreign born!!Naturalized citizen
14,B17025_015E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Foreign born!!Not a citizen
15,GEO_ID,Geography
16,NAME,Geographic Area Name

In [52]:
# The variable B17025_002E has a unique label across years
validate_xyear(f'B17025_002E', 'B17025', 'acs/acs5', range(2009, 2022+1))

['estimate total income in the past 12 months below poverty level']

In [53]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B17025'])
ced.variables.all_variables('acs/acs1', 2007, 'B17025')[['VARIABLE', 'LABEL']]

      GROUP                                       DESCRIPTION
456  B17025  POVERTY STATUS IN THE PAST 12 MONTHS BY NATIVITY

,VARIABLE,LABEL
0,B17025_001E,Estimate!!Total
1,B17025_002E,Estimate!!Total!!Income in the past 12 months below poverty level
2,B17025_003E,Estimate!!Total!!Income in the past 12 months below poverty level!!Native
3,B17025_004E,Estimate!!Total!!Income in the past 12 months below poverty level!!Native!!Born in the United States
4,B17025_005E,Estimate!!Total!!Income in the past 12 months below poverty level!!Native!!Born outside the United States
5,B17025_006E,Estimate!!Total!!Income in the past 12 months below poverty level!!Foreign born
6,B17025_007E,Estimate!!Total!!Income in the past 12 months below poverty level!!Foreign born!!Naturalized citizen
7,B17025_008E,Estimate!!Total!!Income in the past 12 months below poverty level!!Foreign born!!Not a citizen
8,B17025_009E,Estimate!!Total!!Income in the past 12 months at or above poverty level
9,B17025_010E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Native
10,B17025_011E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Native!!Born in the United States
11,B17025_012E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Native!!Born outside the United States
12,B17025_013E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Foreign born
13,B17025_014E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Foreign born!!Naturalized citizen
14,B17025_015E,Estimate!!Total!!Income in the past 12 months at or above poverty level!!Foreign born!!Not a citizen
15,GEO_ID,Geography
16,NAME,Geographic Area Name

In [54]:
# The variable B17025_002E has a unique label across years
validate_xyear(f'B17025_002E', 'B17025', 'acs/acs1', acs1_years)

['estimate total income in the past 12 months below poverty level']

### `pct_high_income`

In [ ]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B19001'])
ced.variables.all_variables('acs/acs5', 2009, 'B19001')[['VARIABLE', 'LABEL']]

In [ ]:
valid_codes = [len(validate_xyear(f'B19001_{i:03}E', 'B19001', 'acs/acs5', range(2009, 2022+1))) == 1 for i in range(1, 18)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

### `median_household_income`

In [ ]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B19013'])
ced.variables.all_variables('acs/acs5', 2009, 'B19013')[['VARIABLE', 'LABEL']]

In [ ]:
# the variable name changes because income is not discounted for inflation
validate_xyear(f'B19013_001E', 'B19013', 'acs/acs5', range(2009, 2022+1))

In [59]:
# In most recent censuses, 
# income data is Not collected through the Decennial Census short form, 
# which is the primary form sent to all households.

ced.variables.all_variables('dec/sf3', 2000, 'P053')

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2000,dec/sf3,P053,GEO_ID,Geography,NaN,None
1,2000,dec/sf3,P053,NAME,Label for GEO_ID,NaN,None
2,2000,dec/sf3,P053,P053001,Median household income in 1999,NaN,None

### `pct_family_high_income`

In [63]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B19101'])
ced.variables.all_variables('acs/acs5', 2009, 'B19101')

      GROUP  \
286  B19101

                                                                  DESCRIPTION
286  FAMILY INCOME IN THE PAST 12 MONTHS (IN 2009 INFLATION-ADJUSTED DOLLARS)

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2009,acs/acs5,B19101,B19101A_001E,Estimate!!Total,NaN,None
1,2009,acs/acs5,B19101,B19101A_002E,"Estimate!!Total!!Less than $10,000",NaN,None
2,2009,acs/acs5,B19101,B19101A_003E,"Estimate!!Total!!$10,000 to $14,999",NaN,None
3,2009,acs/acs5,B19101,B19101A_004E,"Estimate!!Total!!$15,000 to $19,999",NaN,None
4,2009,acs/acs5,B19101,B19101A_005E,"Estimate!!Total!!$20,000 to $24,999",NaN,None
...,...,...,...,...,...,...,...
167,2009,acs/acs5,B19101,B19101_015E,"Estimate!!Total!!$125,000 to $149,999",NaN,None
168,2009,acs/acs5,B19101,B19101_016E,"Estimate!!Total!!$150,000 to $199,999",NaN,None
169,2009,acs/acs5,B19101,B19101_017E,"Estimate!!Total!!$200,000 or more",NaN,None
170,2009,acs/acs5,B19101,GEO_ID,Geography,NaN,None
171,2009,acs/acs5,B19101,NAME,Geographic Area Name,NaN,None

In [64]:
# In most recent censuses, 
# income data is Not collected through the Decennial Census short form, 
# which is the primary form sent to all households.

ced.variables.all_variables('dec/sf3', 2000, 'P052')

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2000,dec/sf3,P052,GEO_ID,Geography,NaN,None
1,2000,dec/sf3,P052,NAME,Label for GEO_ID,NaN,None
2,2000,dec/sf3,P052,P052001,Total,NaN,None
3,2000,dec/sf3,P052,P052002,"Total!!Less than $10,000",NaN,None
4,2000,dec/sf3,P052,P052003,"Total!!$10,000 to $14,999",NaN,None
5,2000,dec/sf3,P052,P052004,"Total!!$15,000 to $19,999",NaN,None
6,2000,dec/sf3,P052,P052005,"Total!!$20,000 to $24,999",NaN,None
7,2000,dec/sf3,P052,P052006,"Total!!$25,000 to $29,999",NaN,None
8,2000,dec/sf3,P052,P052007,"Total!!$30,000 to $34,999",NaN,None
9,2000,dec/sf3,P052,P052008,"Total!!$35,000 to $39,999",NaN,None
10,2000,dec/sf3,P052,P052009,"Total!!$40,000 to $44,999",NaN,None
11,2000,dec/sf3,P052,P052010,"Total!!$45,000 to $49,999",NaN,None
12,2000,dec/sf3,P052,P052011,"Total!!$50,000 to $59,999",NaN,None
13,2000,dec/sf3,P052,P052012,"Total!!$60,000 to $74,999",NaN,None
14,2000,dec/sf3,P052,P052013,"Total!!$75,000 to $99,999",NaN,None
15,2000,dec/sf3,P052,P052014,"Total!!$100,000 to $124,999",NaN,None
16,2000,dec/sf3,P052,P052015,"Total!!$125,000 to $149,999",NaN,None
17,2000,dec/sf3,P052,P052016,"Total!!$150,000 to $199,999",NaN,None
18,2000,dec/sf3,P052,P052017,"Total!!$200,000 or more",NaN,None

### `median_family_income`

In [65]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B19113'])
ced.variables.all_variables('acs/acs5', 2009, 'B19113')[['VARIABLE', 'LABEL']]

      GROUP  \
296  B19113

                                                                         DESCRIPTION
296  MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2009 INFLATION-ADJUSTED DOLLARS)

KeyError: "None of [Index(['VARIABLE', 'LABEL'], dtype='object')] are in the [columns]"

### `elder_footstamp`

In [66]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B22001'])
ced.variables.all_variables('acs/acs5', 2009, 'B22001')[['VARIABLE', 'LABEL']]

      GROUP  \
376  B22001

                                                                                                  DESCRIPTION
376  RECEIPT OF FOOD STAMPS/SNAP IN THE PAST 12 MONTHS BY PRESENCE OF PEOPLE 60 YEARS AND OVER FOR HOUSEHOLDS

,VARIABLE,LABEL
0,B22001_001E,Estimate!!Total
1,B22001_002E,Estimate!!Total!!Household received Food Stamps/SNAP in the past 12 months
2,B22001_003E,Estimate!!Total!!Household received Food Stamps/SNAP in the past 12 months!!At least one person in household 60 years or over
3,B22001_004E,Estimate!!Total!!Household received Food Stamps/SNAP in the past 12 months!!No people in household 60 years or over
4,B22001_005E,Estimate!!Total!!Household did not receive Food Stamps/SNAP in the past 12 months
5,B22001_006E,Estimate!!Total!!Household did not receive Food Stamps/SNAP in the past 12 months!!At least one person in household 60 years or over
6,B22001_007E,Estimate!!Total!!Household did not receive Food Stamps/SNAP in the past 12 months!!No people in household 60 years or over
7,GEO_ID,Geography
8,NAME,Geographic Area Name

In [67]:
# The variable B22001_002E has a unique label across years
validate_xyear(f'B22001_002E', 'B22001', 'acs/acs5', range(2009, 2022+1))

['estimate total household received food stamps snap in the past 12 months']

In [68]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B22001'])
ced.variables.all_variables('acs/acs1', 2007, 'B22001')[['VARIABLE', 'LABEL']]

      GROUP  \
672  B22001

                                                                                             DESCRIPTION
672  RECEIPT OF FOOD STAMPS IN THE PAST 12 MONTHS BY PRESENCE OF PEOPLE 60 YEARS AND OVER FOR HOUSEHOLDS

,VARIABLE,LABEL
0,B22001_001E,Estimate!!Total
1,B22001_002E,Estimate!!Total!!Household received Food Stamps in the past 12 months
2,B22001_003E,Estimate!!Total!!Household received Food Stamps in the past 12 months!!At least one person in household 60 years or over
3,B22001_004E,Estimate!!Total!!Household received Food Stamps in the past 12 months!!No people in household 60 years or over
4,B22001_005E,Estimate!!Total!!Household did not receive Food Stamps in the past 12 months
5,B22001_006E,Estimate!!Total!!Household did not receive Food Stamps in the past 12 months!!At least one person in household 60 years or over
6,B22001_007E,Estimate!!Total!!Household did not receive Food Stamps in the past 12 months!!No people in household 60 years or over
7,GEO_ID,Geography
8,NAME,Geographic Area Name

In [69]:
# The variable B22001_002E has a label change, but not representative of a different concept
validate_xyear(f'B22001_002E', 'B22001', 'acs/acs1', acs1_years)

['estimate total household received food stamps in the past 12 months',
 'estimate total household received food stamps snap in the past 12 months']

### `total_housing_units`

In [70]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B25001'])
ced.variables.all_variables('acs/acs5', 2009, 'B25001')[['VARIABLE', 'LABEL']]

      GROUP    DESCRIPTION
384  B25001  HOUSING UNITS

      VARIABLE                 LABEL
0  B25001_001E       Estimate!!Total
1       GEO_ID             Geography
2         NAME  Geographic Area Name

In [71]:
# The variable has a unique label across years
validate_xyear(f'B25001_001E', 'B25001', 'acs/acs5', range(2009, 2022+1))

['estimate total']

In [72]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B25001'])
ced.variables.all_variables('acs/acs1', 2007, 'B25001')[['VARIABLE', 'LABEL']]

      GROUP    DESCRIPTION
742  B25001  HOUSING UNITS

      VARIABLE                 LABEL
0  B25001_001E       Estimate!!Total
1       GEO_ID             Geography
2         NAME  Geographic Area Name

In [73]:
# The variable has a unique label across years
validate_xyear(f'B25001_001E', 'B25001', 'acs/acs1', acs1_years)

['estimate total']

In [74]:
var_group = {}
var_group[2000] = 'H001'
var_group[2010] = 'H1'
var_group[2020] = 'H1'

var_dataset = {}
var_dataset[2000] = 'dec/sf1'
var_dataset[2010] = 'dec/sf1'
var_dataset[2020] = 'dec/dhc'

var_df = []
for year in [2000, 2010, 2020]:
    dataset = var_dataset[year]
    group = var_group[year]
    print(f'{dataset} {year} {group}')
    var = ced.variables.all_variables(dataset, year, group)
    var_df.append(var)
var_df = pd.concat(var_df)
var_df.to_csv('notes/dec_housing_units.csv', index=False)

dec/sf1 2000 H001
dec/sf1 2010 H1
dec/dhc 2020 H1

* 2000,dec/sf1,H001,H001001,Total,,
* 2010,dec/sf1,H1,H010001,Total,,
* 2020,dec/dhc,H1,H10_001N, !!Total:,,

### `renter_occupied_homes`

In [75]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B25003'])
ced.variables.all_variables('acs/acs5', 2009, 'B25003')[['VARIABLE', 'LABEL']]

      GROUP DESCRIPTION
386  B25003      TENURE

        VARIABLE                             LABEL
0   B25003A_001E                   Estimate!!Total
1   B25003A_002E   Estimate!!Total!!Owner occupied
2   B25003A_003E  Estimate!!Total!!Renter occupied
3   B25003B_001E                   Estimate!!Total
4   B25003B_002E   Estimate!!Total!!Owner occupied
5   B25003B_003E  Estimate!!Total!!Renter occupied
6   B25003C_001E                   Estimate!!Total
7   B25003C_002E   Estimate!!Total!!Owner occupied
8   B25003C_003E  Estimate!!Total!!Renter occupied
9   B25003D_001E                   Estimate!!Total
10  B25003D_002E   Estimate!!Total!!Owner occupied
11  B25003D_003E  Estimate!!Total!!Renter occupied
12  B25003E_001E                   Estimate!!Total
13  B25003E_002E   Estimate!!Total!!Owner occupied
14  B25003E_003E  Estimate!!Total!!Renter occupied
15  B25003F_001E                   Estimate!!Total
16  B25003F_002E   Estimate!!Total!!Owner occupied
17  B25003F_003E  Estimate!!Total!!Renter occupied
18  B25003G_001E                   Estimate!!Total
19  B25003G_002E   Estimate!!Total!!Owner occupied
20  B25003G_003E  Estimate!!Total!!Renter occupied
21  B25003H_001E                   Estimate!!Total
22  B25003H_002E   Estimate!!Total!!Owner occupied
23  B25003H_003E  Estimate!!Total!!Renter occupied
24  B25003I_001E                   Estimate!!Total
25  B25003I_002E   Estimate!!Total!!Owner occupied
26  B25003I_003E  Estimate!!Total!!Renter occupied
27   B25003_001E                   Estimate!!Total
28   B25003_002E   Estimate!!Total!!Owner occupied
29   B25003_003E  Estimate!!Total!!Renter occupied
30        GEO_ID                         Geography
31          NAME              Geographic Area Name

In [76]:
valid_codes = [len(validate_xyear(f'B25003_{i:03}E', 'B25003', 'acs/acs5', range(2009, 2022+1))) == 1 for i in range(1, 4)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True]
total codes: 3
total valid codes: 3

In [77]:
print(acs_acs1_groups_2007[acs_acs1_groups_2007['GROUP'] == 'B25003'])
ced.variables.all_variables('acs/acs1', 2007, 'B25003')[['VARIABLE', 'LABEL']]

      GROUP DESCRIPTION
744  B25003      TENURE

        VARIABLE                             LABEL
0   B25003A_001E                   Estimate!!Total
1   B25003A_002E   Estimate!!Total!!Owner occupied
2   B25003A_003E  Estimate!!Total!!Renter occupied
3   B25003B_001E                   Estimate!!Total
4   B25003B_002E   Estimate!!Total!!Owner occupied
5   B25003B_003E  Estimate!!Total!!Renter occupied
6   B25003C_001E                   Estimate!!Total
7   B25003C_002E   Estimate!!Total!!Owner occupied
8   B25003C_003E  Estimate!!Total!!Renter occupied
9   B25003D_001E                   Estimate!!Total
10  B25003D_002E   Estimate!!Total!!Owner occupied
11  B25003D_003E  Estimate!!Total!!Renter occupied
12  B25003E_001E                   Estimate!!Total
13  B25003E_002E   Estimate!!Total!!Owner occupied
14  B25003E_003E  Estimate!!Total!!Renter occupied
15  B25003F_001E                   Estimate!!Total
16  B25003F_002E   Estimate!!Total!!Owner occupied
17  B25003F_003E  Estimate!!Total!!Renter occupied
18  B25003G_001E                   Estimate!!Total
19  B25003G_002E   Estimate!!Total!!Owner occupied
20  B25003G_003E  Estimate!!Total!!Renter occupied
21  B25003H_001E                   Estimate!!Total
22  B25003H_002E   Estimate!!Total!!Owner occupied
23  B25003H_003E  Estimate!!Total!!Renter occupied
24  B25003I_001E                   Estimate!!Total
25  B25003I_002E   Estimate!!Total!!Owner occupied
26  B25003I_003E  Estimate!!Total!!Renter occupied
27   B25003_001E                   Estimate!!Total
28   B25003_002E   Estimate!!Total!!Owner occupied
29   B25003_003E  Estimate!!Total!!Renter occupied
30        GEO_ID                         Geography
31          NAME              Geographic Area Name

In [78]:
valid_codes = [len(validate_xyear(f'B25003_{i:03}E', 'B25003', 'acs/acs1', acs1_years)) == 1 for i in range(1, 4)]
print(valid_codes)
print("total codes:", len(valid_codes))
print("total valid codes:", sum(valid_codes))

[True, True, True]
total codes: 3
total valid codes: 3

In [79]:
var_group = {}
var_group[2000] = 'H004'
var_group[2010] = 'H1'
var_group[2020] = 'H1'

var_dataset = {}
var_dataset[2000] = 'dec/sf1'
var_dataset[2010] = 'dec/sf1'
var_dataset[2020] = 'dec/dhc'

var_df = []
for year in [2000, 2010, 2020]:
    dataset = var_dataset[year]
    group = var_group[year]
    print(f'{dataset} {year} {group}')
    var = ced.variables.all_variables(dataset, year, group)
    var_df.append(var)
var_df = pd.concat(var_df)
var_df.to_csv('notes/dec_renter.csv', index=False)

dec/sf1 2000 H004
dec/sf1 2010 H1
dec/dhc 2020 H1

* 2000,dec/sf1,H004,H004003,Total!!Renter occupied,,
* 2010,dec/sf1,H1,H014010,Total!!Renter occupied,,
* 2020,dec/dhc,H1,H10_010N, !!Total:!!Renter occupied:,,

## Unweighted tables

The unweighted tables in the American Community Survey (ACS) 

* Provide context for other ACS estimates by showing the base sample size. For instance, when presenting data on economic characteristics from the ACS, you can reference the unweighted sample count to give users a sense of the underlying sample from which estimates are derived. 
* Comparing the unweighted sample counts across different geographic areas can help in understanding the distribution and density of the survey samples.
* They are particularly useful in the following situations:

    - Understanding Sample Size: Use this table to determine the sample size of the population surveyed in a specific area. This can help assess the reliability and precision of the estimates in other ACS tables.
    - Evaluating Data Quality: When analyzing ACS data, it’s important to understand the sample size because areas with small sample sizes may have less reliable estimates. This table helps in identifying such areas.
    - Weighting and Estimation: Use this table to understand the raw, unweighted sample counts before weights are applied to produce population estimates. This is crucial for researchers performing advanced statistical analyses.

In [80]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B00001'])
ced.variables.all_variables('acs/acs5', 2009, 'B00001')[['VARIABLE', 'LABEL']]

    GROUP                                DESCRIPTION
0  B00001  UNWEIGHTED SAMPLE COUNT OF THE POPULATION

      VARIABLE                 LABEL
0  B00001_001E       Estimate!!Total
1       GEO_ID             Geography
2         NAME  Geographic Area Name

In [81]:
print(acs_acs5_groups_2009[acs_acs5_groups_2009['GROUP'] == 'B00002'])
ced.variables.all_variables('acs/acs5', 2009, 'B00002')

    GROUP                      DESCRIPTION
1  B00002  UNWEIGHTED SAMPLE HOUSING UNITS

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2009,acs/acs5,B00002,B00002_001E,Estimate!!Total,NaN,None
1,2009,acs/acs5,B00002,GEO_ID,Geography,NaN,None
2,2009,acs/acs5,B00002,NAME,Geographic Area Name,NaN,None